@charset "utf-8";
/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@300;400;500;700&display=swap");
.notoSans {
    font-family: "Noto Sans JP", sans-serif;
}
body {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
}
.btn-orange {
    background: #d94e09 url(../images/ico-arrow.png) no-repeat center right 40px/10px 15px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3.5px;
    margin: 29px auto 0;
    padding: 18px 0 19px;
    position: relative;
    text-align: center;
    text-indent: 74px;
    transition: box-shadow .3s ease;
    width: 515px;
}
.btn-orange:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
    color: #fff;
}
.btn-orange:before {
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/ico-btn.png') no-repeat center center/100%;
}
@media (max-width: 767.98px) {
    .btn-orange {
        background-position: center right 28px;
        background-size: 8px auto;
        border-radius: 8px;
        font-size: 18px;
        letter-spacing: -0.5px;
        padding: 11px 0 14px;
        text-indent: 45px;
        width: 100%;
    }
    .btn-orange:before {
        height: 46px;
        left: 40px;
        width: 46px;
    }
}